<a routerLink="/courses/new" class="btn btn-primary">New Course</a>

<h2>Courses</h2>

<table class="table table-hover">
  <thead>
    <tr class="table-primary">
      <th scope="col">#</th>
      <th scope="col">Course ID</th>
      <th scope="col">Name</th>
      <th scope="col">ECTS</th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let course of courses; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ course.naturalId }}</td>
      <td>
        <a [routerLink]="'/courses/' + course.id" class="btn btn-link">{{
          course.name
        }}</a>
      </td>
      <td>{{ course.ects }}</td>
      <td>
        <button
          type="button"
          class="btn btn-danger"
          (click)="onDeleteCourse(course)"
        >
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
