<h2>Lecturer</h2>

<form [formGroup]="form" (ngSubmit)="onSave()">
  <p>
    {{ form.value | json }}
  </p>

  <div *ngIf="id.value !== 'new'" class="form-group">
    <input formControlName="id" id="id" type="hidden" class="form-control" />
  </div>

  <div class="form-group">
    <label for="firstName">First Name:</label
    ><input
      formControlName="firstName"
      [placeholder]="!firstName.value && 'Enter first name'"
      id="firstName"
      type="text"
      class="form-control"
    />
    <small *ngIf="firstName.touched && firstName.invalid" class="text-error">
      <span *ngIf="firstName.errors.required">First name required</span>
    </small>
  </div>

  <div class="form-group">
    <label for="lastName">Last Name:</label
    ><input
      formControlName="lastName"
      [placeholder]="!lastName.value && 'Enter last name'"
      id="lastName"
      type="text"
      class="form-control"
    />
    <small *ngIf="lastName.touched && lastName.invalid" class="text-error">
      <span *ngIf="lastName.errors.required">Last name required</span>
    </small>
  </div>

  <div class="form-group">
    <label for="email">Email:</label
    ><input
      formControlName="email"
      [placeholder]="!email.value && 'Enter email'"
      id="email"
      type="email"
      class="form-control"
    />
    <small *ngIf="email.touched && email.invalid" class="text-error">
      <span *ngIf="email.errors.required">Email required</span>
    </small>
  </div>

  <div class="form-group">
    <label for="phoneNumber">Phone Number:</label
    ><input
      formControlName="phoneNumber"
      [placeholder]="!phoneNumber.value && 'Enter phone number'"
      id="phoneNumber"
      type="text"
      class="form-control"
    />
  </div>

  <div class="form-group">
    <label for="role">Role :</label
    ><select formControlName="role" id="role" class="form-control">
      <option *ngFor="let role of getRoles()" [value]="role">{{ role }}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="courseToAdd">Courses Lecturing:</label>
    <input
      formControlName="courseToAdd"
      type="text"
      id="courseToAdd"
      (keyup.enter)="onAddCourse(courseInput)"
      placeholder="Add course"
      class="form-control"
    />
    <small
      *ngIf="courseToAdd.touched && courseToAdd.invalid"
      class="text-error"
    >
    </small>
    <ul formArrayName="courses" class="list-group">
      <li
        *ngFor="let course of courses.controls; let i = index"
        (click)="onRemoveCourse(course)"
        class="list-group-item"
      >
        <b>{{ course.controls.naturalId.value }}</b> -
        <b>{{ course.controls.name.value }}</b>
      </li>
    </ul>
  </div>

  <button [disabled]="!form.valid" type="submit" class="btn btn-primary">
    Save
  </button>
</form>
