/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
/* body {
  padding-top: 85px;
  padding-bottom: 55px;
  margin: 0 10% 0 10%;
}

nav {
  padding: 0 9% 0 4.5%;
  font-size: 1.15em;
}
*/

form {
  width: 35%;
}

.form-control.ng-touched.ng-invalid {
  border: 2px solid red;
}

.text-error {
  color: red;
}

h2 {
  margin-top: 1.8rem;
  margin-bottom: 1.5rem;
}

body {
  margin: 0;
  padding: 0 0 0 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
